@font-face {
  font-family: 'Roboto-Regular';
  src: url('/fonts/roboto.eot'); /* IE9 Compat Modes */
  src: url('/fonts/roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'System';
  src: url('/fonts/roboto.eot'); /* IE9 Compat Modes */
  src: url('/fonts/roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/SanFrancisco.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Ionicons';
  src: url('/fonts/Ionicons.ttf');
}
